/* @font-face {
    font-family: "Google Sans Bold";
    src: url('/fonts/GoogleSans-Bold.ttf');
}

@font-face {
    font-family: "Google Sans Meduim";
    src: url('/fonts/GoogleSans-Medium.ttf');
    font-weight: 400;
} */
@font-face {
    font-family: "Google Sans";
    src: url('/fonts/GoogleSans-Regular.ttf');
}
body{
    font-family: 'Google Sans';
}

.wrapper{
    max-width: 880px;
    margin: auto;
}
.products{
    display: flex;
    flex-direction: column;
}
.cart-product-card{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E4E7EB;
}
.cart-product-info{
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.cart-product-card-name{
    display: flex;
    align-items: center;
    max-width: 150px;
    font-weight: 600;
}
.cart-product-card:nth-child(1){
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E4E7EB;
    border-bottom: 1px solid #E4E7EB;
}
.cart-product-card-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cart-product-card-image{
    width: 200px;
}
.cart-product-conteiner{
    display: flex;
}
.cart-product-card-button{
    font-size: 16px;
    color: #1A73E8;
    padding-right: 5px;
    cursor: pointer;
}
.cart-product-card-price{
    font-size: 16px;
}
.cart-product-card-category{
    color: #374151;
    margin-bottom: 20px;
}


.cart-product-card-stock{
    display: flex;

}

.cart-product-card-stock span{
    margin-left: 5px;
    
}

.cart-product-card-stock-image{
    width: 20px;
    height: 20px;
}

.checkout{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.total-block{
    margin: auto;
    width: 90%;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.total{
    font-family: "Google Sans";
    font-size: 20px;
}

.total-price{
    font-size: 20px;
    font-family: "Google Sans";
}

.checkout-button{
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #1A73E8;
    color: #FFF;
    border: 1px solid #1A73E8;
    font-family: "Google Sans";
    font-size: 22px;
}
.checkout-button:hover{
    cursor: pointer;

    filter: grayscale(.30);
}