<footer class="footer">
  <div class="footer__inner">
    <div class="footer__socails">
      <ul class="footer__list">
        <li class="footer__item">
          <img
            class="footer__item-image"
            src="/images/socials/twitter.svg"
            alt="social icon"
          />
        </li>
        <li class="footer__item">
          <img
            class="footer__item-image"
            src="/images/socials/instagramm.svg"
            alt="social icon"
          />
        </li>
        <li class="footer__item">
          <img
            class="footer__item-image"
            src="/images/socials/facebook.svg"
            alt="social icon"
          />
        </li>
        <li class="footer__item">
          <img
            class="footer__item-image"
            src="/images/socials/youtube.svg"
            alt="social icon"
          />
        </li>
        <li class="footer__item">
          <img
            class="footer__item-image"
            src="/images/socials/tiktok.svg"
            alt="social icon"
          />
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      <span>Privacy</span>
      <span>Google Nest Commitment to Privacy</span>
      <span>Sales Terms</span>
      <span>Terms of Service</span>
      <span>Careers</span>
    </div>
  </div>
</footer>
