<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

        
    
</style>
<body>
    <div class="product-card">
        <img class="product-card-image" src="https://lh3.googleusercontent.com/qlnXushgCER95MuUBMjyfOWu2jj6Ktteeyhr9RyHwXisNAIsi6kkL3LvPHYDs4ICPGRA2g5I4EhNFAJRQY6U-dXVL1UmcermZy32=w483" alt="">
        <h4 class="product-card-name">Product Name</h4>
        <div class="product-card-actions">
            <span class="product-card-price">$299</span>
            <button class="product-card-button">+</button>
        </div>
    </div>
</body>
</html>