@font-face {
    font-family: "Google Sans";
    src: url('/fonts/GoogleSans-Regular.ttf');
}
a{
    text-decoration: none;
    color: #FFF;
}


.header{
    max-width: 1280px;
    margin: auto;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar{
    width: 60%;
}

.header__list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.header__item{
    font-weight: 400;
}

.burger-menu__link{
    text-decoration: none;
    color: #3C4043;
}

.header__link{
    text-decoration: none;
    color: #3C4043;
}

.header-action{
    
    width: 100px;
}



.header-action__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-action__image{
    cursor: pointer;
}

.header-action__image:hover path{
    transition: 0.3s ;

    fill: #1967D2;
}



.burger-menu{
display: none;
}

.burger-menu-lines{
    width: 40px;
    display: flex;
    flex-direction: column;
}

.line{
    border: 2px solid #000;
    margin: 5px;
    transition: 1s;
}

.burger-menu-lines__animated1{
    position: relative;
    top: 20px;

    transform:rotate(-45deg);
}

.burger-menu-lines__animated2{

    transform: scaleY(0);
}

.burger-menu-lines__animated3{
    position: relative;
    bottom: 8px;
    transform:rotate(45deg);
}

.burger-menu__content{
    background-color: #FFFF;
    position: absolute;
    display: flex;    
}

.burger-menu-hidden{
    display: none;
}

.burger-menu__item{
    padding: 20px;
}

@media (max-width:768px) {
    .burger-menu{
        display: block;
    }
    .header__list{
        display: none;
    }
}

/* footer */


.footer{
    margin-top: 100px;
}

.footer__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socails{
    width: 15%;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer__copyright{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}






.product-card{
    /* height: 500px; */
    width: 350px;
    background-color: #fff;
    padding: 1em;
    font-family: 'Google Sans', Arial, Helvetica, sans-serif;


}
.product-card-image{
    height: 350px;
    transition: 0.5s all;
}

.product-card-price{
    margin-top: 30px;
}

.product-card-name{
    height: 50px;
    font-size: 1.3em;
    margin-top: 0.5em ;

}

.product-card-actions{
    font-size: 1.2 em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-button {
    /* background-color: #000; */
    color: #1A73E8;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 1em;
}

.product-card-image:hover{
    transform: scale(1.1);
}



@media screen and (max-width: 576px) {
    .product-card {
        font-size: 0.9em;
    }
};