@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1280px;
    margin: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.button{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 0;
    min-width: 150px;
    height: 40px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.2s ease-in;
}
.button:hover{
    background-color: #5f6368;
    color: #FFFF;
    border: none;
}

.header{
    max-width: 1280px;
    margin: auto;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar{
    width: 60%;
}

.header__list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.header__item{
    font-weight: 400;

}

.burger-menu__link{
    text-decoration: none;
    color: #3C4043;
}

.header__link{
    text-decoration: none;
    color: #3C4043;
}

.header-action{
    
    width: 15%;
}

.header-action__inner{
    display: flex;
    justify-content: space-around;
}

.header-action__image{
    cursor: pointer;
}

.header-action__image:hover path{
    transition: 0.3s ;

    fill: #1967D2;
}



.burger-menu{
display: none;
}

.burger-menu-lines{
    width: 40px;
    display: flex;
    flex-direction: column;
}

.line{
    border: 2px solid #000;
    margin: 5px;
    transition: 1s;
}

.burger-menu-lines__animated1{
    position: relative;
    top: 20px;

    transform:rotate(-45deg);
}

.burger-menu-lines__animated2{

    transform: scaleY(0);
}

.burger-menu-lines__animated3{
    position: relative;
    bottom: 8px;
    transform:rotate(45deg);
}

.burger-menu__content{
    background-color: #FFFF;
    position: absolute;
    display: flex;    
}

.burger-menu-hidden{
    display: none;
}

.burger-menu__item{
    padding: 20px;
}

/* main */

/* hero */

.hero{
    width: 100%;
    min-height: 600px;
    height: 100%;
    margin: auto;
    color: #3C4043;
}

.hero__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__info{
    position: absolute;
    top: 100px;
    text-align: center;
}

.hero__title{
    font-size: 57px;
}
.hero__description{
    font-size: 16px;
    padding: 20px;
}



.hero__button_border{
    border: 2px solid #3C4043;
    border-radius: 5px;
}


.hero__video{
    width: 100%;
    height: 100%;
}


/* products */


.products{
    max-width: 1280px;
    width: 100%;
}

.products__title{
    margin: 100px 0;
    text-align: center;
    color: #3C4043;
    font-size: 16px;
}

/* .products__container{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:1 ;
} */

.products__item{
    height: 300px;
    width: 100%;
    max-width: 250px;
    transition: 5s all;
}

.products__link{
    text-decoration: none;

}



.products__category{
    color: #1967D2;
}

.products__image{
    transition: 0.5s all;

    width: 180px;
}
.products__name{

    color: #3C4043;
}


.products__item:hover .products__image{
    transform: scale(1.2);
}
.products__item:hover .products__name{
    color: #1967D2;
    
}

/* nba */


.nba{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nba__info{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 500px;
    color: #3C4043;
}

.nba__title{
    padding: 50px 0 0  30%;
}
.nba__description{
    padding: 50px 0 0  30%;
}

.products__category{
    display: flex;
    align-items: baseline;
}

.nba__link{
    padding: 50px 0 0  30%;
    color: #1967D2;
}


/* advertising */




.advertising__item{
    width: 380px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E3DB;
    border-radius: 28px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.advertising__item-info{
    text-align: center;
    padding-top: 40px;
}
.advertising__item-info *{
    padding: 20px;
}

.advertising__button{
    padding: 0;
}

.advertising__item_big{
    width: 600px;
    max-width: 600px;
    background-color: #D6E2DB;
}

.advertising__item_big > .advertising__image {
    display: flex;
    align-items: flex-end;
    width: 600px;
}

.advertising__item_big2 {
    width: 600px;
    background-color: #EFDDCD;
}

.advertising__item_big2 > .advertising__image {
    width: 600px;
}


.advertising__container{
    display: flex;
    flex-wrap: wrap;
}


/* category */

.category__title{
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: center;
}


.category__container{
    display: flex;
    justify-content: space-evenly;
}

.category__item{
    cursor: pointer;
}

.category__image{
    transition: 0.5s all;
}

.category__item:hover  .category__image{
    transform: scale(1.2);
    
}

.category__name{
    color:#1967D2 ;
    text-align: center;
    margin-top: 25px;
}



/* slogan */

.slogan{
    margin-top: 100px;
}

.slogan__container{
    display: flex;
    justify-content: space-between;
}

.slogan__item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    min-height: 700px;
}
.slogan__item:first-child{
    background-color: #F3F2F1;
    
}
.slogan__item:last-child{
    background-color: #E7EBEE;
}

.slogan__image{
    min-width: 600px;
    min-height: 450px;
}


/* sustainability */

.sustainability{
    margin-top: 100px;
}

.sustainability__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sustainability__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.sustainability__description{
    padding: 20px;
    max-width: 400px;
}



/* footer */


.footer{
    margin-top: 100px;
}

.footer__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socails{
    width: 15%;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer__copyright{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}