/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    margin: auto;
    max-width: 1280px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden{
    display: none !important;
}

.active{
    border-bottom: 1px;
}

.section-image{
    border-radius: 12px;
    width: 565px;
    height: 700px;
}

.info{
    width: 50%;
}

.title{
    font-size: 45px;
}

.tab-buttons{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;    
}

.tab-button{
    width: 200px;
    height: 50px;
    border: none;
    color: #DEE0D9;
    background-color: inherit;
    border-bottom:1px solid #DEE0D9;

}
.tab-button:disabled{
    border-bottom:1px solid #000;
    color: #000;
    
}

/* .half-size{
    width: 60%;
} */

.hero{
    width: 1300px !important;
    display: flex;
    align-items: center;
    height: 600px;
    background-color: #E4EEFD;
    border-radius: 30px;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}


.hero__info{
    transition: 2s all;
}
.left-pad-50{
    padding-left: 50px;

}

.hero__title{
    
    font-size: 50px;
}

.hero__description{
    padding: 30px 0;
    font-size: 30px;
}

.hero__button{
    width: 100px;
    height: 40px;
    background-color: #1967D2;
    border: none;
    color: #FFF;
    border-radius: 12px;
}

.hero__intro{
    width: 1300px;
}
.hero__video{
    width: 60%;
    /* max-width: 1280px; */
    /* height: 600px; */
}


/* help */


.help__title{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.help__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.help__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 560px;
    height: 700px;
    background-color: #E4EEFD;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.help__item-name{
    width: 80%;
    font-size: 30px;
}

.help__item-small{
    width: 370px;
    height: 370px;
}
.help__item-bg-image{
    background-image: url(https://lh3.googleusercontent.com/LRGxrtdfQFxYWC_R-cLWswpvjuwsd-s1tc-TFCmEUgrktoUYv7ez7PhKoT_2nWA5XUGYSFiB9GlFL4UNRoBaeQfWbV6kWmovAQ);
    background-repeat: no-repeat;
    background-size: cover;
}

.help__item-video{
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

.help__item-image{
    width: 100%;
    height: 100%;
}


/* improvements */

.improvements__title{
    margin: 50px 0;
    text-align: center;
}

.improvements__image{
    width: 100%;
    border-radius: 12px;
}

/* check */

.check__title{
    margin: 50px 0;
    text-align: center;
}

.check__item > video{
    width: 100%;
    height: 100%;
}
.check__item > img{
    width: 100%;
    height: 100%;
}

.check__signs-video{
    border-radius: 12px;
}


/* health */

.health{
    margin: 100px 0;
}





.health__info{  
    width: 50%;
}

.health__info-title{
    padding: 30px 0;
}



.accordions{

}
.accordion{
    display: grid;
    grid-template-rows: 42px 0fr;
    transition: grid-template-rows 0.3s ease;
    padding: 30px 0;
}
.accordion-content{
    padding-top: 10px;
    overflow: hidden;

}

.accordion.active {
    grid-template-rows: 42px 1fr;
}

.arrow{
    background-image: url(/images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 30px;
}
.arrow.opened{
    background-image: url(/images/icons/arrow-up.svg);
}


/* assistant */

.assistant{
    margin-top: 100px;
}




.assistant__info-title{
    padding: 20px 0;
}

.assistant__info-description{
    
    font-size: 20px;
}

/* goals */
.goals{
    margin-top: 100px;
}



/* collection */

.collection{
    margin-top: 100px;
}

.collection__container{
    display: flex;
    flex-direction: column;
    /* height: 1200px; */
}

.collection__blocks{
    display: flex;
    justify-content: space-between;
}

.collection__block{
    text-align: center;
    padding: 0 50px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    background-color: #E4EEFD;
}

.block-name{
    padding-bottom: 10px;
    font-size: 30px;
}

.block-description{
    font-size: 20px;
}

.block-image{
    width: 55%;
}

.collection__blocks:nth-child(2){
    margin-top: 100px;
}

.block-video{
    border-radius: 12px;
    width: 55%;
}

.collection__block{
    width: 40%;
}