@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1280px;
    margin: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.hidden{
    display: none !important;
}

.active{
    border-bottom: 1px;
}

.tab-buttons{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;    
}

.tab-button{
    width: 200px;
    height: 50px;
    border: none;
    color: #DEE0D9;
    background-color: inherit;
    border-bottom:1px solid #DEE0D9;

}
.tab-button:disabled{
    border-bottom:1px solid #000;
    color: #000;
    
}

.half-size{
    width: 60%;
}


/* hero */

.hero{

    width: 100%;
}



.hero__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}


.hero__video{
    width: 100%;
    height: 600px;
}

.hero__title{
    font-size: 57px;
}


.hero__price{
    font-size: 30px;
    font-weight: bold;
}

.hero__button{
    border: none;
    background-color: #1967D2;
    color: #fff;
    border-radius: 7px;
    width: 30%;
    height: 8%;
    min-height: 30px;
    min-width: 150px;
    max-width: 300px;
    max-height: 70px;
}


/* promotion */

.promotion{
    max-width: 100%;
    margin-top:100px ;
    font-size: 30px
}

.promotion__video{
    width: 100%;
}

.promotion__title{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 100px;
}

.promotion__container{
    display: flex;
    flex-direction: column;
    min-height: 2200px;
    height: 100%;
    justify-content: space-evenly;
}

.promotion__item{
    padding-top: 1em;
    text-align: center;
    border-radius: 20px;
    background-color: #F6F0EC;
    /* background-color: black; */
}

.promotion__item-blocks{
    display: flex;
}

.promotion__name{
    font-size: 1.3em;
}



/* ai */


.ai{
    
    width: 100%;
    margin-top: 100px;
    background-color: #F6F0EC;
}

.ai__hero{
    border-radius: 12px;
}

.ai__hero-title{
    padding: 100px 0;
    text-align: center;
    font-size: 2.5em;
}

.ai__hero-description{
    text-align: center;
    font-size: 2em;
    padding-bottom: 100px;
}

.ai__hero-image{
    width: 100%;
}


.ai__camera{
    padding-top: 200px;

}

.ai__camera-image{
    height: 610px;
    width: 100%;

    border-radius: 12px;
}

.ai__camera-video{
    border-radius: 90px;

    height: 610px;
    width: 100%;

}



/* ai details */

.ai__details{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ai__details-wrapper{
    width: 100%;
}
.swipper{
    
}
.ai__details-item{
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 750px ;
    /* transition: 5s all; */
}
.ai__details-image{
    width: 100%;
    height: 100%;
}

.ai__details-title{
    font-weight: bold;
    font-size: 28px;
    padding: 0 30px;
}

.ai__details-description{
    padding: 10px 30px;
}
.ai__details-item:nth-child(1){
    background-color: #DEE0D9;
}

.ai__details-item:nth-child(3){
    color: #FFF;
    background-color: #202020;
}

.ai__details-item:nth-child(5){
    background-color: #F1DDD2;
}


/* edit */

.edit{
    margin: 0 !important;
    background-color: #F6F0EC;
}

.edit__item-video{
    width: 100%;
    height: 600px;
}

.edit__title{
    text-align: center;
    padding-top: 50px ;
    font-size: 3em;
}

.edit__description{
    text-align: center;
    padding: 50px 0;
}